# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Env
.env
.env.local
*.local

# Build / IDE
dist/
build/
*.egg-info/
.idea/
.vscode/
*.log

# DB
*.db
*.sqlite

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
profiles.yml

# Airflow (local)
airflow/logs/

# Workspace
*.code-workspace
